.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 70rem;
    width: 70rem;
    row-gap: 1rem;
    column-gap: 1rem;
}

.block{
    width: 100%;
    padding-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
}

@media (max-width: 744px){
    .grid{
        padding: 0 var(--page-padding-744);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: unset;
        width: 100%;
        row-gap: 1rem;
        column-gap: 1rem;
    }

    .block{
        width: 100%;
        padding-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        align-items: center;
    }

    .input{
        width: calc(100vw - var(--page-padding-744) * 2);
    }
}