.block_wrapper{
    width: 100%;
    padding: var(--page-padding-1280);
}

.block{
    cursor: pointer;
    display: flex;
    width: 100%;
    border-radius: 4.4rem;
    aspect-ratio: 3.5/1;
    background: #222222;
    background-image: url("/assets/create_desktop.png");
    background-position: center;
    background-size: cover;
    padding: 4rem 8rem;
    align-items: flex-end;
    justify-content: space-between;
}

.block_mobile{
    display: none;
}

@media (min-width: 1440px){
    .block{
        padding: 6rem 12rem;
    }

    .heading{
        font-size: 5.6rem;
    }
}

@media (max-width: 744px){
    .block_wrapper{
        width: 100%;
        padding: var(--page-padding-744);
    }

    .block{
        display: none;
    }

    .block_mobile{
        cursor: pointer;
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 7rem;
        border-radius: 3rem;
        background: #222222;
        background-image: url("/assets/create_mobile.png");
        background-position: center;
        background-size: cover;
        padding: 2.2rem;
        align-items: flex-start;
        justify-content: unset;
    }


}