.block{
    width: 100%;
    padding: 0 var(--page-padding-1280);
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 1rem;
}

.events{
    position: relative;
    overflow: hidden;
    border-radius: 4.4rem;
    display: flex;
    width: 100%;
    aspect-ratio: 16/8;
}

.swiper{
    width: 100%;
    height: 100%;
}

.slider{
    width: 100%;
}

.slide{
    display: flex;
    align-items: flex-end;
    padding: 3rem;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    
    &.loaded::after{
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 56.92%, rgba(0, 0, 0, 0.80) 99.71%);
        z-index: 2;
    }
}

.image{
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.no_events{
    background: var(--bg-island);
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.info{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 4;
    max-width: 42rem;

    & .description{
        opacity: 0.8;
    }

    & .name{
        text-transform: uppercase;
    }
}

.important_tag{
    position: absolute;
    top: 2rem;
    left: 3rem;
    padding: 0.4rem 1.6rem;
    background: rgba(255,255,255,0.4);
    font-size: 1.4rem;
    color: #FFFFFF;
    font-weight: 500;
    border-radius: 1.6rem;
    backdrop-filter: blur(2rem);
    z-index: 4;
}

.skeleton{
    width: 100%;
    height: 100%;
}

@media (max-width: 744px){
    .block{
        width: 100%;
        padding: 0 var(--page-padding-744);
        display: flex;
        flex-direction: column;
        row-gap: 1.6rem;
    }

    .events{
        aspect-ratio: 1/1;
        border-radius: 3rem;
    }

    .important_tag{
        left: 1.6rem;
        top: 1.6rem;
    }

    .slide{
        padding: 2rem 3rem;
        gap: 0.5rem;
    }
    
  }