.card{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 1.6rem;
    border-radius: 2.4rem;
    height: 14rem;
    gap: 1rem;
    background: #FFFFFF;
    width: 100%;
    min-width: 20rem;
    cursor: pointer;

    & img{
        transition: 500ms;
        pointer-events: none;
    }

    &:hover{
        & img{
            transform: scale(1.03);
        }
    }

    &.medium{
        width: 28rem;
    }
}

.card_image{
    position: relative;
    display: flex;
    width: 7.2rem;
    min-width: 7.2rem;
    aspect-ratio: 10/14;
    border-radius: 1rem;
    overflow: hidden;
}

.place{
    width: 100%;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.wishlist{
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    border: none;
    border-radius: 50%;
    padding: 1rem;
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(20px);
    z-index: 5;
    transition: 300ms;

    @media (hover: hover) {
        &:hover{
            background: rgba(255,255,255,0.25);
            transform: scale(1.1);
        }
    }

    &.active{
        background: rgba(255,255,255,1);

        @media (hover: hover) {
            &:hover{
                background: rgba(255,255,255,1);
                transform: scale(1.1);
            }
        }
    }
}

.age_tag{
    position: absolute;
    top: 1.6rem;
    right: 2rem;
    font-weight: 500;
    z-index: 5;
    padding: 0.2rem 0.8rem;
    border-radius: 1rem;
    background: rgba(0,0,0,0.25);
    color: #FFFFFF;
    backdrop-filter: blur(20px);
}

.info_wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 1rem;
    width: inherit;
}

.info{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info_row{
    display: flex;
    gap: 1rem;
}

.group{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.name{
    width: 70%;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 1.8rem;
    overflow: hidden;
    font-weight: 600;
}

.main_price{
    background: var(--brand);
    padding: 0.8rem 1.6rem;
    width: fit-content;
    border-radius: 2.4rem;
}

.price{
    font-weight: 600;
    color: #000000;
}

.line{
    width: 100%;
    height: 2.4rem;
}

.price_line{
    width: 10rem;
    height: 4rem;
}

@media screen and (max-width: 744px) {
    .card{
        height: 12rem;
    }

    .card_image{
        position: relative;
        display: flex;
        width: 7.2rem;
        min-width: 7.2rem;
        aspect-ratio: unset;
        height: 8.8rem;
        min-height: 8.8rem;
        overflow: hidden;
    }
}