@import "shared/styles/variables.scss";

.login_block{
    display: flex;
    width: 100dvw;
    height: 100vh;
    background: var(--bg-dark);
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 4.6rem;

    background-image: url("/public/login.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover  ;
}

.container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 8.6rem;
    height: auto;
}

.login_register{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.2rem;
    max-width: 42rem;
}

.loginForm{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.formError{
    color: var(--error);
    font-size: 1.6rem;
}

.select{
    display: flex;
    width: 100%;
    background: var(--input-on-color-bg);
    padding: 1rem;
    border-radius: var(--default_border_radius);
    gap: 0.8rem;
}

.user{
    padding: 0.6rem 1.6rem;
    border-radius: 0.8rem;
    background: #FFFFFF;
    color: #000000;
    font-size: 1.6rem;
    width: 100%;
    font-weight: 500;
    text-align: center;
}

.org{
    padding: 0.6rem 1.6rem;
    border-radius: 0.8rem;
    background: transparent;
    color: #FFFFFF;
    font-size: 1.6rem;
    width: 100%;
    font-weight: 500;
    text-align: center;
    border: none;
    transition: 300ms;

    &:hover{
        background: rgba(255,255,255,0.1)
    }
}

.mail{
    background: rgba(255,255,255,0.1);
    padding: 2.2rem;
    display: flex;
    align-items: center;
    gap: 1.2rem;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 1.6rem;
    border-radius: var(--default_border_radius);
}

.recovery{
    color: rgba(255,255,255,0.8);
    font-size: 1.6rem;

    & span{
        color: var(--text-brand)
    }
}

.checkbox{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 1.6rem;
    font-weight: 400;
    color: #FFF;
}

@media (max-width: 744px){
    .login_register{
        padding: 0rem var(--page-padding-744);
    }

    .mail{
        background: rgba(255,255,255,0.1);
        padding: 1.6rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-wrap: balance;
        gap: 1.6rem;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 1.6rem;
        border-radius: var(--default_border_radius);
    }
}
